@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
    height: 200%;
    background-color: #282828;
    color: white;
    font-family: 'Roboto', sans-serif;
}

text {
    fill: white;
}

#training-section,
#testing-section {
    height: 100%;
    overflow: hidden;
}

#train-vs-test {
    height: 100%;
    position: fixed;
    max-width: 100%;
}

.padding {
    height: 100%;
}

#right {
    width: 60%;
    height: 100%;
    position: relative;
    float: right;
}

#left {
    width: 40%;
    height: 100%;
    float: left;
}