@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
    height: 200%;
    background-color: #282828;
    color: #cacaca;
    font-family: 'Roboto', sans-serif;
}

text {
    fill: white;
}

a:link {
    color: #cacaca;
}

a:visited {
    color: #cacaca;
}

a:hover {
    color: white;
}

.job {
    font-weight: bold;
}

.job-change-0 {
    color: rgba(248, 210, 16);
}

.job-change-1 {
    color: rgba(245, 23, 32);
}

#deleted-columns,
h4 {
    font-family: 'Courier New', Courier, monospace;
}

#training-section,
#testing-section {
    height: 100%;
    overflow: hidden;
}

#train-vs-test {
    height: 100%;
    position: fixed;
    max-width: 100%;
}

.padding {
    height: 100%;
}

#right {
    width: 60%;
    height: 100%;
    position: relative;
    float: right;
}

#left {
    width: 40%;
    height: 100%;
    float: left;
}