@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');
h1,
div {
    background-color: rgba(255, 255, 0, 0.1);
    font-family: 'Noto Serif JP', serif;
    font-size: 24pt;
    border: solid 1px black;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

div {
    font-size: 12pt;
}

body {
    background-color: rgba(255, 128, 255, 0.1);
}

#name {
    display: flex;
}

.name-character {
    width: 150px;
    height: 150px;
    background-color: #2a2a2a;
}